<!DOCTYPE html>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>
<footer>
  <div class="footer-container">
    <div class="left-footer">
      <h2>Khaleed Opeloyeru</h2>
      <p>Junior Software Engineer</p>
    </div>
    <div class="middle-footer">
      <ul>
        <li><a href="/services">Services</a></li>
        <li><a href="/projects">Projects</a></li>
      </ul>
    </div>
    <div class="right-footer">
      <div class="bottom-right-footer">
        <a
          href="https://www.tiktok.com/@devbams?_t=8bdKmvGCX01&_r=1"
          target="_blank"
        >
          <img src="Assets/images/tik-tok.png" />
        </a>
        <a href="https://twitter.com/Dev_Bams" target="_blank">
          <img src="Assets/images/x.png" />
        </a>
        <a href="https://www.facebook.com/devbams" target="_blank">
          <img src="Assets/images/facebook (1).png" />
        </a>
        <a href="https://www.instagram.com/devbams/" target="_blank">
          <img src="Assets/images/instagram (1).png" />
        </a>
      </div>
    </div>
  </div>
  <p class="copyright">
    &copy; 2023 Khaleed Opeloyeru. All rights reserved. Designed and<br />
    developed by Khaleed Opeloyeru.
  </p>
</footer>