<!DOCTYPE html>

/* -------------------------------------------------------------------------- */
/*                                Documnetation                               */
/* -------------------------------------------------------------------------- */

/* 
   File: main_nav.ejs
   Student's Name: Khaleed Opeloyeru
   Student ID: 301286462
   Date: 08/10/2023
*/

<!-- Main Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark desktop-nav">
          <a class="navbar-brand" href="/">
            
          <img src="Assets/images/khaleed.JPG" class="mobile-dark-icon" style="width: 40px; border-radius: 30px;"/>
          Khaleed Opeloyeru</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto middle-nav-container">

        <% if (title == "Home"){ %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/home"> Home </a>
        </li>

        <% if (title == "About") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/about"> About </a>
        </li>

        <% if (title == "Products") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/products">Skills </a>
        </li>

        <% if (title == "Services") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/services"> Services </a>
        </li>

        <% if (title == "Projects") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/projects">Projects </a>
        </li>
        <% if (title == "Contact") { %>
          <li class="nav-item active">
          <% } else  { %>
          <li class="nav-item">
          <% } %>
            <a class="nav-link" href="/contact">Contact </a>
          </li>
    </div>
  </nav>



