<!DOCTYPE html>
<link rel="stylesheet" href="content/app.css" />
<%- include header.ejs %> <%- include main_nav.ejs %>

<section class="services-section-container" id="services">
  <div class="services-section">
    <h2>Services</h2>
    <div class="bottom-skill-section-container body-containers-wrap">
      <div class="left-services">
        <img src="./images/web-design-services (1).png" />
        <h2>Website Design</h2>
      </div>
      <div class="middle-services">
        <img src="./images/code (2).png" />
        <h2>Website Development</h2>
      </div>
      <div class="right-services">
        <img src="./images/settings (2).png" />
        <h2>Website Maintenance</h2>
      </div>
    </div>
  </div>
</section>
<%- include footer.ejs %>
