<!DOCTYPE html>

<!-- /* -------------------------------------------------------------------------- */
/*                                Documnetation                               */
/* -------------------------------------------------------------------------- */

/* 
   File: services.ejs
   Student's Name: Khaleed Opeloyeru
   Student ID: 301286462
   Date: 08/10/2023
*/ -->

<link rel="stylesheet" href="content/app.css" />
<%- include header.ejs %> <%- include main_nav.ejs %>

<section class="services-section-container" id="services">
  <div class="services-section">
    <div class="bottom-skill-section-container body-containers-wrap">
      <div class="left-services">
        <img src="Assets/images/web-design-services (1).png" />
        <h2>Website Design</h2>
      </div>
      <div class="middle-services">
        <img src="Assets/images/code (2).png" />
        <h2>Website Development</h2>
      </div>
      <div class="right-services">
        <img src="Assets/images/settings (2).png" />
        <h2>Website Maintenance</h2>
      </div>
    </div>
  </div>
</section>
<%- include footer.ejs %>
